<!DOCTYPE html>
<html>
<head>

	<title>Sign UP Message</title>

	<style type="text/css">		

		h6 {
			font-size: 16px;
			font-weight: bold;

		}		

		img {
			border-style: dashed;
			border-radius: 10px;
			border-color: #879db5; 
			text-align: center; 
			align-content: center;
			height: 70%;
		}

		.card {

			border-style: dashed;
			border-radius: 10px;
			border-color: #879db5; 
			text-align: center; 
			align-content: center;

		}

		p ,a {
			font-family: 'Sriracha', cursive; 
		}
		
	</style>

</head>
<body>

	<!-- This header is to leave empty space very above the page. -->
	<!-- Card Message -->
	<div class="container">

		<div class="row">

			<div class="col"></div>

			<div class=" col " style="padding-top: 30px;" >

				<img src="<%=asset_path 'postman.jpg'%>" class="card-img-top card" alt="postman"> 

				<div class="card-body card">

				<p class="card-title">Please Check Your Student Email Inbox</p>

				<p class="card-text">You have just got an Invitation Email.</p>

				<a href="/index">
					<button type="button" class="btn btn-primary btn-lg" style="margin: auto; ">Back to the Main Page</button>
				</a>

			</div>

		</div>

		<div class="col"></div>

	</div>
</div>
</body>
</html>