<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        body {
          font-family: Arial, Helvetica, sans-serif;
          font-size: 15px;
      }

      #myBtn {
          display: none;
          position: fixed;

          width: 100%;
          height: 100%;
          font-size: 18px;

          background-color:#dce4e5;

          cursor: pointer;


      }

      .ff{
        background-color: red;
      }

      #myBtn:hover {
          background-color: #555;
      }
      .c{
        text-align: center;
      }
  </style>
</head>

<body>

    <div class="container">

        <div class="row">
            <div class="col-2"></div>

            <div class="col-8"></div>

            <div class="col" >

                <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
                <script>
        // When the user scrolls down 20px from the top of the document, show the button
        window.onscroll = function() {scrollFunction()};

        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
</script>
</body>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="jumbotron jumbotron-fluid " >
                <h1 class="display-3 c">Review</h1>
                <p class="lead c">How was the meeting? <br>
                Please let us know about your last meeting.</p>
            </div>
        </div>
        <div class="col-6">
            <img src="<%=asset_path 'partypicture.jpg'%>" style="width: 100%; height: 100%;">
        </div>

    </div>
</div>
<div class="col-12">
    <a href="#Member1" class="btn btn-primary">Group</a>
    <a href="#Member1" class="btn btn-secondary">Member1</a>
    <a href="#Member2" class="btn btn-success">Member2</a>
    <a href="#Member3" class="btn btn-danger">Member3</a>
    <a href="#Member4" class="btn btn-warning">Member4</a>
</div>
<div>
    <br>
    <h1 id="Group" class="btn btn-primary">Group</h1>
    <table class="table">
        <thead>
            <tr>
                <th width="1%">#</th>
                <th width="60%">Questions</th>
                <th width="30%">
                Bad--------------Excellent</br>
                1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>Was the meeting location convenience for you?</td>
            <td>
                <div class="row" class="form-check form-check-inline">
                    <input class=col-1 type="radio" name="venue1" value=1>
                    <input class=col-1 type="radio" name="venue1" value=2>
                    <input class=col-1 type="radio" name="venue1" value=3>
                    <input class=col-1 type="radio" name="venue1" value=4>
                    <input class=col-1 type="radio" name="venue1" value=5>
                </div>
            </td>
        </tr>
        <tr>
            <th>2</th>
            <td>Are you satisfied with the service of venue?</td>
            <td>
                <div class="row" class="form-check form-check-inline">
                    <input class=col-1 type="radio" name="venue2" value=1>
                    <input class=col-1 type="radio" name="venue2" value=2>
                    <input class=col-1 type="radio" name="venue2" value=3>
                    <input class=col-1 type="radio" name="venue2" value=4>
                    <input class=col-1 type="radio" name="venue2" value=5>
                </div>
            </td>
        </tr>
        <tr>
            <th>3</th>
            <td>How satisfied are you with your group?</td>
            <td>
                <div class="row" class="form-check form-check-inline">
                    <input class=col-1 type="radio" name="venue3" value=1>
                    <input class=col-1 type="radio" name="venue3" value=2>
                    <input class=col-1 type="radio" name="venue3" value=3>
                    <input class=col-1 type="radio" name="venue3" value=4>
                    <input class=col-1 type="radio" name="venue3" value=5>
                </div>
            </td>
        </tr>
        <tr>
            <th>4</th>
            <td>How fun was it?</td>
            <td>
                <div class="row" class="form-check form-check-inline">
                    <input class=col-1 type="radio" name="venue4" value=1>
                    <input class=col-1 type="radio" name="venue4" value=2>
                    <input class=col-1 type="radio" name="venue4" value=3>
                    <input class=col-1 type="radio" name="venue4" value=4>
                    <input class=col-1 type="radio" name="venue4" value=5>
                </div>
            </td>
        </tr>
        <tr>
            <th>5</th>
            <td>Will you use Uni Meets Uni service again?</td>
            <td>
                <div class="row" class="form-check form-check-inline">
                    <input class=col-1 type="radio" name="venue4" value=1>
                    <input class=col-1 type="radio" name="venue4" value=2>
                    <input class=col-1 type="radio" name="venue4" value=3>
                    <input class=col-1 type="radio" name="venue4" value=4>
                    <input class=col-1 type="radio" name="venue4" value=5>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<h1 id="Member1" class="btn btn-secondary">Member1</h1>
<table class="table">
    <thead>
        <tr>
            <th width="1%">#</th>
            <th width="60%">Questions</th>
            <th width="30%">
                Bad<---------->Excellent</br>
                1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>Was this member suit for the group theme?</td>
            <td>
                <div class="row" class="form-check form-check-inline">
                    <input class=col-1 type="radio" name="Member1-1" value=1>
                    <input class=col-1 type="radio" name="Member1-1" value=2>
                    <input class=col-1 type="radio" name="Member1-1" value=3>
                    <input class=col-1 type="radio" name="Member1-1" value=4>
                    <input class=col-1 type="radio" name="Member1-1" value=5>
                </div>
            </td>
        </tr>
        <tr>
            <th>2</th>
            <td>What was the member's activism about the group mission?</td>
            <td>
                <div class="row" class="form-check form-check-inline">
                    <input class=col-1 type="radio" name="Member1-2" value=1>
                    <input class=col-1 type="radio" name="Member1-2" value=2>
                    <input class=col-1 type="radio" name="Member1-2" value=3>
                    <input class=col-1 type="radio" name="Member1-2" value=4>
                    <input class=col-1 type="radio" name="Member1-2" value=5>
                </div>
            </td>
        </tr>
        <tr>
            <th>3</th>
            <td>How ????</td>
            <td>
                <div class="row" class="form-check form-check-inline">
                    <input class=col-1 type="radio" name="Member1-3" value=1>
                    <input class=col-1 type="radio" name="Member1-3" value=2>
                    <input class=col-1 type="radio" name="Member1-3" value=3>
                    <input class=col-1 type="radio" name="Member1-3" value=4>
                    <input class=col-1 type="radio" name="Member1-3" value=5>
                </div>
            </td>
        </tr>
        <tr>
            <th>4</th>
            <td>During the meeting, does he/she acting properly?</td>
            <td>
                <div class="row" class="form-check form-check-inline">
                    <input class=col-1 type="radio" name="Member1-4" value=1>
                    <input class=col-1 type="radio" name="Member1-4" value=2>
                    <input class=col-1 type="radio" name="Member1-4" value=3>
                    <input class=col-1 type="radio" name="Member1-4" value=4>
                    <input class=col-1 type="radio" name="Member1-4" value=5>
                </div>
            </td>
        </tr>
        <tr>
            <th>5</th>
            <td>Would you like to meet him/her again?</td>
            <td>
                <div class="row" class="form-check form-check-inline">
                    <input class=col-1 type="radio" name="Member1-5" value=1>
                    <input class=col-1 type="radio" name="Member1-5" value=2>
                    <input class=col-1 type="radio" name="Member1-5" value=3>
                    <input class=col-1 type="radio" name="Member1-5" value=4>
                    <input class=col-1 type="radio" name="Member1-5" value=5>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<h1 id="Member2" class="btn btn-success">Member2</h1>
<table class="table">
    <thead>
        <tr>
            <th width="1%">#</th>
            <th width="60%">Questions</th>
            <th width="30%">
                Bad<---------->Excellent</br>
                1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>How was the venue?</td>
            <td>
                <div class="row" class="form-check form-check-inline">
                    <input class=col-1 type="radio" name="Member2-1" value=1>
                    <input class=col-1 type="radio" name="Member2-1" value=2>
                    <input class=col-1 type="radio" name="Member2-1" value=3>
                    <input class=col-1 type="radio" name="Member2-1" value=4>
                    <input class=col-1 type="radio" name="Member2-1" value=5>
                </div>
            </td>
        </tr>
        <tr>
            <th>2</th>
            <td>Was the member were good?</td>
            <td>
                <div class="row" class="form-check form-check-inline">
                    <input class=col-1 type="radio" name="Member2-2" value=1>
                    <input class=col-1 type="radio" name="Member2-2" value=2>
                    <input class=col-1 type="radio" name="Member2-2" value=3>
                    <input class=col-1 type="radio" name="Member2-2" value=4>
                    <input class=col-1 type="radio" name="Member2-2" value=5>
                </div>
            </td>
        </tr>
        <tr>
            <th>3</th>
            <td>the meeting time is suit you?</td>
            <td>
                <div class="row" class="form-check form-check-inline">
                    <input class=col-1 type="radio" name="Member2-3" value=1>
                    <input class=col-1 type="radio" name="Member2-3" value=2>
                    <input class=col-1 type="radio" name="Member2-3" value=3>
                    <input class=col-1 type="radio" name="Member2-3" value=4>
                    <input class=col-1 type="radio" name="Member2-3" value=5>
                </div>
            </td>
        </tr>
        <tr>
            <th>4</th>
            <td>Will you use Uni Meets Uni service again?</td>
            <td>
                <div class="row" class="form-check form-check-inline">
                    <input class=col-1 type="radio" name="Member2-4" value=1>
                    <input class=col-1 type="radio" name="Member2-4" value=2>
                    <input class=col-1 type="radio" name="Member2-4" value=3>
                    <input class=col-1 type="radio" name="Member2-4" value=4>
                    <input class=col-1 type="radio" name="Member2-4" value=5>
                </div>
            </td>
        </tr>
        <tr>
            <th>5</th>
            <td>How fun was it?</td>
            <td>
                <div class="row" class="form-check form-check-inline">
                    <input class=col-1 type="radio" name="Member2-5" value=1>
                    <input class=col-1 type="radio" name="Member2-5" value=2>
                    <input class=col-1 type="radio" name="Member2-5" value=3>
                    <input class=col-1 type="radio" name="Member2-5" value=4>
                    <input class=col-1 type="radio" name="Member2-5" value=5>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<h1 id="Member3" class="btn btn-danger">Member3</h1>
<table class="table">
    <thead>
        <tr>
            <th width="1%">#</th>
            <th width="60%">Questions</th>
            <th width="30%">
                Bad<---------->Excellent</br>
                1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>How was the venue?</td>
            <td>
                <div class="row" class="form-check form-check-inline">
                    <input class=col-1 type="radio" name="Member3-1" value=1>
                    <input class=col-1 type="radio" name="Member3-1" value=2>
                    <input class=col-1 type="radio" name="Member3-1" value=3>
                    <input class=col-1 type="radio" name="Member3-1" value=4>
                    <input class=col-1 type="radio" name="Member3-1" value=5>
                </div>
            </td>
        </tr>
        <tr>
            <th>2</th>
            <td>Was the member were good?</td>
            <td>
                <div class="row" class="form-check form-check-inline">
                    <input class=col-1 type="radio" name="Member3-2" value=1>
                    <input class=col-1 type="radio" name="Member3-2" value=2>
                    <input class=col-1 type="radio" name="Member3-2" value=3>
                    <input class=col-1 type="radio" name="Member3-2" value=4>
                    <input class=col-1 type="radio" name="Member3-2" value=5>
                </div>
            </td>
        </tr>
        <tr>
            <th>3</th>
            <td>the meeting time is suit you?</td>
            <td>
                <div class="row" class="form-check form-check-inline">
                    <input class=col-1 type="radio" name="Member3-3" value=1>
                    <input class=col-1 type="radio" name="Member3-3" value=2>
                    <input class=col-1 type="radio" name="Member3-3" value=3>
                    <input class=col-1 type="radio" name="Member3-3" value=4>
                    <input class=col-1 type="radio" name="Member3-3" value=5>
                </div>
            </td>
        </tr>
        <tr>
            <th>4</th>
            <td>Will you use Uni Meets Uni service again?</td>
            <td>
                <div class="row" class="form-check form-check-inline">
                    <input class=col-1 type="radio" name="Member3-4" value=1>
                    <input class=col-1 type="radio" name="Member3-4" value=2>
                    <input class=col-1 type="radio" name="Member3-4" value=3>
                    <input class=col-1 type="radio" name="Member3-4" value=4>
                    <input class=col-1 type="radio" name="Member3-4" value=5>
                </div>
            </td>
        </tr>
        <tr>
            <th>5</th>
            <td>How fun was it?</td>
            <td>
                <div class="row" class="form-check form-check-inline">
                    <input class=col-1 type="radio" name="Member3-5" value=1>
                    <input class=col-1 type="radio" name="Member3-5" value=2>
                    <input class=col-1 type="radio" name="Member3-5" value=3>
                    <input class=col-1 type="radio" name="Member3-5" value=4>
                    <input class=col-1 type="radio" name="Member3-5" value=5>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<h1 id="Member4" class="btn btn-warning">Member4</h1>
<table class="table">
    <thead>
        <tr>
            <th width="1%">#</th>
            <th width="60%">Questions</th>
            <th width="30%">
                Bad<---------->Excellent</br>
                1&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 3&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 5
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>1</th>
            <td>How was the venue?</td>
            <td>
                <div class="row" class="form-check form-check-inline">
                    <input class=col-1 type="radio" name="Member4-1" value=1>
                    <input class=col-1 type="radio" name="Member4-1" value=2>
                    <input class=col-1 type="radio" name="Member4-1" value=3>
                    <input class=col-1 type="radio" name="Member4-1" value=4>
                    <input class=col-1 type="radio" name="Member4-1" value=5>
                </div>
            </td>
        </tr>
        <tr>
            <th>2</th>
            <td>Was the member were good?</td>
            <td>
                <div class="row" class="form-check form-check-inline">
                    <input class=col-1 type="radio" name="Member4-2" value=1>
                    <input class=col-1 type="radio" name="Member4-2" value=2>
                    <input class=col-1 type="radio" name="Member4-2" value=3>
                    <input class=col-1 type="radio" name="Member4-2" value=4>
                    <input class=col-1 type="radio" name="Member4-2" value=5>
                </div>
            </td>
        </tr>
        <tr>
            <th>3</th>
            <td>the meeting time is suit you?</td>
            <td>
                <div class="row" class="form-check form-check-inline">
                    <input class=col-1 type="radio" name="Member4-3" value=1>
                    <input class=col-1 type="radio" name="Member4-3" value=2>
                    <input class=col-1 type="radio" name="Member4-3" value=3>
                    <input class=col-1 type="radio" name="Member4-3" value=4>
                    <input class=col-1 type="radio" name="Member4-3" value=5>
                </div>
            </td>
        </tr>
        <tr>
            <th>4</th>
            <td>Will you use Uni Meets Uni service again?</td>
            <td>
                <div class="row" class="form-check form-check-inline">
                    <input class=col-1 type="radio" name="Member4-4" value=1>
                    <input class=col-1 type="radio" name="Member4-4" value=2>
                    <input class=col-1 type="radio" name="Member4-4" value=3>
                    <input class=col-1 type="radio" name="Member4-4" value=4>
                    <input class=col-1 type="radio" name="Member4-4" value=5>
                </div>
            </td>
        </tr>
        <tr>
            <th>5</th>
            <td>How fun was it?</td>
            <td>
                <div class="row" class="form-check form-check-inline">
                    <input class=col-1 type="radio" name="Member4-5" value=1>
                    <input class=col-1 type="radio" name="Member4-5" value=2>
                    <input class=col-1 type="radio" name="Member4-5" value=3>
                    <input class=col-1 type="radio" name="Member4-5" value=4>
                    <input class=col-1 type="radio" name="Member4-5" value=5>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<div style="text-align: center; padding-bottom: 15px;">
    <a class="btn btn-primary" href="#" >Submit</a>
</div>
</div>
</div>
</div>


</html>