<style type="text/css">

		    /* header {
			padding-top: 10px;
			height: 70px;
			text-align: center;
			background-color: #f246d5;
			font-size: 40px;
			position: relative;

			}.   */ 

			body {
				/* background-image: url("img/bnecity2.jpg");		  */	
				background-repeat: repeat;
				width: 100%;
				height: 100%;
				background: cover;	

			}

			.text-center{
				text-align: center;
			}

			.paddingTop{
				padding-top: 20px;
			}

			.main-content {
				position: absolute;
			}

			.head {
				text-align: center;
				font-size: 40px;
				font-family: 'Lilita One', cursive;
				text-shadow: 5px 5px 5px grey;
				padding-top: 10px;	
				padding-bottom: 10px;	
			}     

			.background1 {
				background-color: #c2d6d6;
				position: relative;				
				margin: 0 auto;
				border-radius: 10px;
				height: 100%;
			}

			.menu-font {
				font-family: 'Sriracha', cursive;
				font-size: 30px;
			}
			.submit-button {
				font-family: 'Sriracha', cursive;
				font-size: 15px;
			} 

		</style>	

		<body style="background-image: url(<%= image_url('young-party.jpg') %>)">

			<div class="container-fluid">

				<div class="head">Make Your Day Unique</div>

				<div class="row">
					<div class="col">
						1 of 3
					</div>

					<div class="col-6 text-center background1">

						<!-- Date -->

						<div>
							<form class="paddingTop" >
								<h1 class="menu-font">I am available on this day</h1>

								<input type="date" name="">
							</form>
						</div>


						<!-- Time -->
						<div>
							<form class="paddingTop">
								<h1 class="menu-font">Time</h1>

								<input type="Time" name="">
							</form>

						</div>

						<!--==================================================== -->








						<!--==================================================== -->


						<!-- Size of the Group -->
						<div class="paddingTop"><h1 class="menu-font">Size of the Group</h1>

							<div class="input-group">

								<select class="custom-select" id="inputGroupSelect02" aria-label="Example select with button addon" >

									<option selected>Choose...</option>
									<option value="5">5 on 5</option>
									<option value="2">2 on 2</option>
									<option value="3">3 on 3</option>
									<option value="4">4 on 4</option>
									<option value="5">..any..</option>
								</select>

								<div class="input-group-append">
									<button class="btn btn-outline-secondary" type="button">OK</button>
								</div>
							</div>

						</div>

						<!-- Purpose of the group Date  -->
						<div class="paddingTop"><h1 class="menu-font">Purpose of the group Date</h1>

							<div class="input-group">

								<select class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
									<option selected>Choose...</option>
									<option value="meal">Meal</option>
									<option value="clubing">Clubing</option>
									<option value="light_drinking">Light Drinking</option>
									<option value="coffee_tea">Coffee or Tea</option>
								</select>

								<div class="input-group-append">
									<button class="btn btn-outline-secondary" type="button">OK</button>
								</div>

							</div>
						</div>

						<!-- Venue -->
						<div class="paddingTop"><h1 class="menu-font">Venue</h1>

							<div class="input-group " >
								<select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
									<option selected>Choose...</option>
									<option value="cbd">Brisbane CBD</option>
									<option value="meal">Woolloongabba</option>
									<option value="South_Bank">South Bank</option>
									<option value="milton">Milton</option>
									<option value="eat_street">Eat Street</option>
									<option value="sunnybank">Sunny Bank</option>
									<option value="westend">West End</option>
								</select>

								<div class="input-group-append">
									<button class="btn btn-outline-secondary" type="button">OK</button>
								</div>
							</div>
						</div>

						<br>
						<div style="padding-bottom: 20px;">
							<a class="btn btn-block btn-lg btn-primary submit-button" 
							href="/submit" style="width: 100px; margin: 0 auto;"> Submit</a> 
						</div>
					</div>

					<div class="col">
						3 of 3
					</div>

				</div>

			</div>
		</body>